@font-face {
	font-family: "titre";
	src: url('../../assets/fonts/RundeckSmooth.ttf');
}

header {
    width: 100%;
    position: relative;
    background-image: url('../../assets/img/malt.jpg');
    background-size: cover;
	background-position: center;
    border-bottom: 1px black solid;
    padding-bottom: 20px;
}

div {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000);
    img {
        width: 150px;
    }

    a {
        font-family: "titre";
        color: black;
        font-size: 50px;
        text-transform: uppercase;
        text-decoration: none;
        span {
            font-family: "titre";
            color: var(--vh-yellow);
        }
    }

    &:hover{
        transform: translateY(-7px);
    }
}

nav {
    text-align: center;
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    align-items: center;
    position: absolute;
    background: var(--vh-yellow);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav a:hover:after { 
    width: 100%!important;
    align-items: center;
}
nav a:hover {
    color: var(--vh-yellow);
    align-items: center;
}

a:visited {
    color: var(--vh-yellow);
    align-items: center;
}

nav a {
	position: relative;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: var(--vh-yellow);
	transition: all .2s ease;
    font-weight: bold;
    align-items: center;
}

.active {
    color: var(--vh-yellow) !important;
    align-items: center;
}

.active::after {
    opacity: 1 !important;
	width: 30% !important;
    align-items: center;
}
