
:root {
  --jaune: #ffe437;
  --noir: #222222;
}

@font-face {
	font-family: "titre";
	src: url('fonts/RundeckSmooth.ttf');
}

body {
  background-color : var(--jaune);
  color : var(--noir);
  text-align: center;
  font-family: "titre";
}

h1 {
  font-size: 300%;
}

p {
  font-size: 200%;
}
