
:root {
  --jaune: #ffe437;
  --noir: #222222;
}

@font-face {
	font-family: "titre";
	src: url('fonts/RundeckSmooth.ttf');
}

body {
  background-color : var(--jaune);
  color : var(--noir);
  text-align: center;
  font-family: "titre"!important;
}

a {
  text-decoration: none;
  color: var(--jaune);
}

a:hover {
  text-decoration: underline;
  color: var(--jaune);
}

.btn-primary {
  margin-top: 20px;
  color: var(--jaune)!important;

  background-color: var(--noir)!important;
  border-color: black!important;
}
