<section class="section">
    <h1>Accueil</h1>
    <div class="separate"></div>
    <div class="container vignette-list">
        <div  class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
            <div routerLink="beers" class="col vignette">
                <img src="../../assets/img/bieres.jpg" alt="Nos Bières">
                <h2>Nos Bières</h2>
            </div>
            <div routerLink="fabrication" class="col vignette">
                <img src="../../assets/img/fabrication.jpg" alt="Fabrication">
                <h2>Fabrication</h2>
            </div>
        </div>
        
    </div>
</section>